
@font-face {
    font-family: kaffmedium;
    src:url(../css/29LT\ Kaff-Medium.OTF);
    font-style: normal;
}
@font-face {
    font-family: kafflight;
    src:url(../css/29LT\ Kaff-Light.OTF);
    font-style: normal;
}
@font-face {
    font-family: kaffbold;
    src:url(../css/29LT\ Kaff-Bold.OTF);
    font-style: normal;
}
@font-face {
    font-family: kaffregular;
    src:url(../css/29LT\ Kaff-Regular.OTF);
    font-style: normal;
}
@font-face {
    font-family: MyriadArabicBold;
    src:url(../css/29LT\ MyriadArabic-Bold.otf);
    font-style: normal;
}
@font-face {
    font-family: MAR;
    src:url(../css/29LT\ Bahij_Myriad_Arabic-Regular.ttf);
    font-style: normal;
}
*{
box-sizing:border-box;
font-family: kaff;
font-weight: bold;
}
html,body{
margin:0;
padding:0;
width:100%;
height:100%;
font-family: kaff;
}
.container{
width:89%;
max-width:100%;
}
#home .header{
display:flex;
justify-content:center;
border-bottom:0.2px solid #9DA4AB;
margin-bottom:15px;
height:70px;
align-items:center;
background-color: #FBDD2F;
}
#home .header .holders{
display:flex;
justify-content:space-between;
align-items:center;
max-width: 100%;
}
#logo{
height:50px;
position:relative;
display:flex;
cursor:pointer;
}
#hello{
    
    color:#737B7F;
    font-family: kaffregular;
    font-size: 25pt;
}
#home .body{
display:flex;
justify-content:center;
}
#home .body .holders{
justify-content:space-between;
margin-top:60px;
}
#title{
flex: auto;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
margin-top: 0.7cm;    
width: 100%;   
}
#go{
background-color:#FADC2F;
border:none;
padding:0 20px;
margin:3px 10px 5px 3px;
font-family:MyriadArabicBold;
font-weight:540;
font-size: 20;
width:90px;
height: 30px;
color: black;
right: 
border-radius: 7px;
color: #737B7F;
font-weight: bold;
position:relative;
box-shadow: 6px 6px 6px #B2B5B7;

}
 .btn:hover ,.btn:focus , .btn:active{
color:black;
background-color:#FADC2F; 
outline:0;
}
#hash{
position:relative;
left: 
height: 20pt;
}
#share{
display: inline;
position: relative;
left:
bottom: 20px;
font-weight: 550;
color:#5D6567;
font-family:kaffmedium;
font-size: 20pt;
}
#sub{
margin-top: 15px;
position: relative;
top: 30px;
right: 
color:#5D6567;  
font-size: 18;
font-weight: 110;
font-family:kaffregular;
font-size: 15pt;
}
#dotted{
max-width: 98%;
border:2px dashed #B2B5B7;
display:flex;
flex-direction:column;
align-items:flex-end;
height: 120px;
margin-top: 30px;
border-radius: 10px;  
}
#theme-choice{
max-width: 98%;
display:flex;
flex-direction:column;
align-items:center;
border:1.5px solid #B2B5B7; 
height: 200px;
margin-top: 30px;
border-radius: 10px;
margin-bottom: 30px;
}
.lines{
justify-content:center;  
flex-direction:column;
align-items:center;
width: 100%;
margin-top: 17px;
height: 31%;
align-content: center;
position: relative;
margin-left: 30px;
margin-bottom: -10px;
}
.pic{

margin-left: 10px;
height: 35px;
width: 150px;
position: relative;
z-index: 1;
}
#final{
margin-top: 2px;
max-width: 50%;
left: 60;

}
.themebutton{
margin-top: 5px;
background-color: #FADC2F;
height: 35px;
width: 150px;
border-radius: 13px;
margin-left: 10px;
border: none;
box-shadow: 1px 2px 9px #5D6567;
font-weight: 560;

}
.butt{ 
position: relative;
bottom: 40;
z-index: 2;
}
#topic-choice{
border: 1.5px solid #B2B5B7; 
max-width: 98%;
display:flex;
flex-direction:column;
align-items:center;
height: 150px;
margin-top: 30px;
border-radius: 10px;
margin-bottom: 30px;

}
.theme-img{width:10px;height:10px;margin-right:113px; z-index:2;position: relative;}
.theme-cross{width:80px;background-color: #FFDE17;text-align: center;margin-right:40px;margin-top:-5px;z-index:1;position: relative;font-family:MAR;font-size:19px;}
.margin-top15{margin-top:15px;}